
<footer class="footer">
    <div class="container">
        <a href="https://www.linkedin.com/in/ganeshrestha" target="_blank">
            <img src="/images/linkedin.png" alt="LinkedIn" class="linkedin">
        </a>
        <a href="https://github.com/ganeshrestha97?tab=repositories" target="_blank">
            <img src="/images/githubimg.png" alt="GitHub" class="github">
        </a>
        <p class="copyright">© 2024 Ganesh Shrestha</p>

    </div>
</footer>




</body>
</html>