<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mongoose Workout-Tracker</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Display Date and Time</title>
  <script>
    function displayDateTime() {
      let now = new Date()
      let displayDate = document.getElementById('displayDate')
      let displayTime = document.getElementById('displayTime')
      displayDate.innerHTML = now.toLocaleDateString()
      displayTime.innerHTML = now.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'})
    }
    setInterval(displayDateTime, 1000)
  </script>
</head>
<body>
  <div id="dateTimeContainer">
  <div id="displayDate"></div>
  <div id="displayTime"></div>
</div>

  
  <nav>
    <a href="/">Home</a>  <a href="/workouts/new">Add Workout</a>  <a href="/workouts">All Workouts</a>
  </nav>
  
