<%- include('./partials/header') %>

   <h2><a href="/trackers/steps">Steps <span class="material-symbols-outlined">
      footprint
      </span></a></h2>
   <h2><a href="/trackers/weight">Weight <span class="material-symbols-outlined">
      weight
      </span></a></h2>
   <h2><a href="/trackers/waterIntake">Water Intake <span class="material-symbols-outlined">
      water_drop
      </span></a></h2>
   <h2><a href="/trackers/caloriesIntake">Calories Intake <span class="material-symbols-outlined">
      restaurant
      </span></a></h2>
   <h2><a href="/trackers/caloriesBurn">Calories Burn <span class="material-symbols-outlined">
      local_fire_department
      </span></a></h2>
   <h2><a href="/trackers/heartRate">Heart Rate <span class="material-symbols-outlined">
      heart_plus</span></a></h2>

<%- include('./partials/footer') %>