<%- include('./partials/header') %>

<!-- <h2>Home Page</h2> -->

   <h1><a href="/trackers/steps">Steps</a></h1>
   <h1><a href="/trackers/weight">Weight</a></h1>
   <h1><a href="/trackers/waterIntake">Water Intake</a></h1>
   <h1><a href="/trackers/caloriesIntake">Calories Intake</a></h1>
   <h1><a href="/trackers/caloriesBurn">Calories Burn</a></h1>
   <h1><a href="/trackers/heartRate">Heart Rate</a></h1>
   

<%- include('./partials/footer') %>