body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#dateTimeContainer {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
}

#displayDate, displayTime {
display: block;
cursor: pointer;
}