body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#dateTimeContainer {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
}

#displayDate, displayTime {
display: block;
cursor: pointer;
}


.footer {
  height: 90px;
  background-color: #6b6969; 
  color: white; 
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a .linkedin {
  width: 50px; 
  height: auto; 
  vertical-align: middle;
}

.footer a .github {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.footer p {
  margin: 10px 0;
  color: gold;
  font-size: 12;
}